$base-color: #9147ff;

html {
    overflow-y: scroll; 
}
h3 {
  color: rgb(203, 202, 204);
  font-size: 30px;
  padding:5px;
}
h5 {
    color: $base-color;
    padding:5px;
}
.card {
   border: none;
}
.card:hover{
    cursor: pointer;
    background-color: $base-color;;
    h5 {
        color:white;
    }
}

